extends ../layout 

block content

  a(href="/bicicletas") volver
  

  br

  br

  br

  h1  Nueva bicicleta

  br

  br


  form(action='/bicicletas/create' method='post')
    label(for='id') ID
    input#id(type='text' name='id')
    br 
    label(for='color') color
    input#color(type='text' name='color')
    br 
    label(for='modelo') modelo
    input#modelo(type='text' name='modelo')
    br 
    label(for='lat') lat
    input#lat(type='text' name='lat')
    br 
    label(for='lng') lng
    input#lng(type='text' name='lng')
    br 
    br
    input.btn(type='submit' value='OK')