extends ../layout 

block content

  a(href="/bicicletas") volver
  

  br

  br

  br

  h1  Acualizando bicicleta

  br

  br


  form(action=`/bicicletas/${bici.id}/update` method='post')
    label(for='id') ID
    input#id(type='text' name='id' value=bici.id)
    br 
    label(for='color') color
    input#color(type='text' name='color' value=bici.color)
    br 
    label(for='modelo') modelo
    input#modelo(type='text' name='modelo' value=bici.modelo)
    br 
    label(for='lat') lat
    input#lat(type='text' name='lat'  value=bici.ubicacion[0])
    br 
    label(for='lng') lng
    input#lng(type='text' name='lng'  value=bici.ubicacion[1])
    br 
    br
    input.btn(type='submit' value='OK')